/*@import url('https://fonts.googleapis.com/css?family=Oranienbaum');  */



/* -------------------- VARIABLES */

:root {
   /* --font-default: Raleway, sans-serif;

    --font-heading: "Oranienbaum", cursive;  */

      /* Colors */
  /* --color-green: #084e3f;
  --color-red: #ff5b5e;
  --color-deep-blue: #28313b;
  --color-light-grey: #97a4b1;
  --color-mid-blue: #34495e;
  --color-almost-white: #e8eef4;   */

  /* abstract colors out */
  /* --main-text-color: var(--color-mid-blue);
  --strong-text-color: var(--color-deep-blue);
  --alternative-text-color: var(--color-almost-white);
  --error-color: var(--color-red);
  --border-color: var(--color-light-grey);

  --secondary-bg-color: var(--color-almost-white);
  --alternative-bg-color: var(--color-green);   */

 /* measurements*/
  --padder: 3%;
  --spacer: 20px;
  --spacer-large: 60px;
  --transition-time: 0.3s;

  --area-wide: 1200px;

/* font sizes */
  /* --font-size-site-title: 32px;
  --font-size-page-title: 40px;
  --font-size-section-title: 30px;
  --font-size-sub-title: 24px;
  --font-size-heading-small: 16px;  */

}



@media screen and (min-width: 800px) {
    :root {
      --font-size-site-title: 54px;
      --font-size-page-title: 80px;
      --font-size-section-title: 48px;
  
      --padder: 2%;
    }

  }   


  
/* -------------------- GLOBAL DEFAULTS */

* {
    box-sizing: border-box;
  }


body {
	background-color : white;
	background-image : url(pics/studiodesk2.jpg);
	
	background-position : top;
	
	background-attachment : fixed;
	background-repeat : no-repeat;
	
	
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: black;
	
}





/* -------------------- LAYOUTS */


/* ---------------------- HEADER  */



header {
	text-align: center;
	
}

header .layout-wide {
	overflow: hidden;
	margin-bottom: 0;
  }
  
  .logo-wrapper {
	width: 20%;
	float: left;
  }
  

/* ---------------------- FOOTER  */
  
footer {
	text-align: center;
	padding-bottom: 0px;
	
	
}

/* -------------------- NAVIGATION */



/*.logo {
	background-image : url(pics/whiteroomlogo.jpg);
	
	background-position : top center;
	background-attachment : fixed;
	background-repeat : no-repeat;
	height : 100px;
	width : 100%; 
}   */


/* -------------------- HEADINGS AND TYPE */


a {
	color: #990033;
	
	
}

.menu {
	text-align : center;
  position: sticky;
  top: 0;
  z-index: 10;
}

.menu a{
	
	font-weight:bold;
	font-size:1.2em;
	color: #990033;
	text-decoration: none;
	
	}

.menu .active {
	text-decoration: underline;
}

	
.menu a:hover{
	color:black;
	}

/*.menu a:visited {
	color:gray;
}*/




h1 {
	color: rgb(6, 140, 163);
	font-family: Batang, cursive;
	font-size: 60px;
	line-height: 1em;
	font-weight: normal; 
	font-stretch: condensed;
	text-shadow: 2px 2px #c7d1c4;
	}
	
h2{
	letter-spacing:.5em;
	color : #A9A9A9;
	padding-left: 6em;
	padding-top: .5em;
}

h3 {
	color: rgb(6, 140, 163);
	font-family: Batang, cursive;
	font-size: 50px;
	line-height: .5em;
	font-weight: n; 
	font-stretch: condensed;
	text-shadow: 2px 2px #c7d1c4;
	}

p{
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:1.2em;
	padding:1em;
	line-height:1.4em;
}

.content{
	padding-left:2em;
	padding-right:2em;
	font-size:1em;
	padding-bottom: 14em;
}

/* ---------------------- NAVIGATION  */

.specheader{
	padding-top:1em;
	color:#990033;
	font-weight:bold;
}

.specdetails{
	padding-left:2em;
}

.imageheader{
	font-weight:bold;
	color:#990033;
	padding-bottom:1em;
	
}



.image{
	float: left;
	padding:1.5em;
	
	
}


.clients{
	line-height:2em;
}



.biggerfont{
	font-size:1.5em;
}

.linespacedpara{
	line-height:1.5em;
}

.bigfontlinespaced{
	line-height:1.5em;
	font-size:1.5em;
}


/* ---------------------- FOOTER  */


#site-generator p {
		margin-top: 0em;
    margin-bottom: 0em;
    float: left;
}

#site-generator p+p {
    float: right;
}




#site-generator a {
	font-weight: bold;
	
}

#site-generator {
    border-top: 1px solid #ddd;
    color: #666;
    font-size: 10px;
    line-height: 1em;
    padding: 1em 0.5em;
    text-align: center;
}




a {
    color: #990033;
    text-decoration: none;
}

@media screen and (min-width: 500px) {
	.hero-module {
	  position: relative;
	}
  
	.hero-module img {
	  width: 100%;
	}


	.content{
		padding-left:2em;
		padding-right:2em;
		font-size:1em;
	}
}


@media screen and (min-width: 800px) {
	.hero-module {
	  position: relative;
	}
  
	.hero-module img {
	  width: 100%;
	}


	.content{
		padding-left:15em;
		padding-right:15em;
		font-size:1em;
		padding-bottom: 22em;
	}


  .content-block{
	  padding-left:12em;
	  padding-right:4em;
	  padding-bottom: 2em;

	  font-size:1em;

}


.hero-content {
    position: absolute;

    height: 100%;
    width: 100%;

    bottom: 0;

    display: flex;
    align-items: center;
  }

  .heading-main {
    color: var(--alternative-text-color);
    text-shadow: 0px 1px 10px var(--strong-text-color);
  }
}



/* -------------------- FORMS */


/* -------------------- MODULES */



/* grids */

@media screen and (min-width: 800px) {
	.content-area-grid {
	  display: grid;
	  grid-template-columns: 48% 48%;
	  justify-content: space-between;
	}
  }
  



  /* image gallery */
  .image-gallery ul {

	list-style: none;
	margin: 0;
	padding: 0;
  
	overflow: hidden;
  
  }
  
  .image-gallery li {
	float: left; 
	max-width: 250px;
	margin: 10px;
  }



.image-gallery a:hover img {
	transform: scale(1.1);
	filter: unset;
  }
  
  
  /* animations */
  
  @keyframes fadein {
  
	0% {
	  opacity: 0;
	}
  
	100% {
	  opacity: 1;
	}
  }
  
  
  main {
	animation-name: fadein;
	animation-duration: var(--transition-time);
  }
  




